article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

audio:not([controls]) {
  display: none;
}

[hidden] {
  display: none;
}

::-moz-selection {
  background: #fe57a1;
  color: white;
  text-shadow: none;
}

::selection {
  background: #fe57a1;
  color: white;
  text-shadow: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html, button, input, select, textarea {
  font-family: sans-serif;
  color: #222222;
}

body {
  margin: 0;
  font-size: 1em;
  line-height: 1.4;
}

a {
  color: #0000ee;
}

a:visited {
  color: #551a8b;
}

a:hover {
  color: #0066ee;
}

a:focus {
  outline: thin dotted;
}

a:hover, a:active {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: bold;
}

blockquote {
  margin: 1em 40px;
}

dfn {
  font-style: italic;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

pre, code, kbd, samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: none;
}

q:before, q:after {
  content: "";
  content: none;
}

small {
  font-size: 85%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

ul, ol {
  margin: 1em 0;
  padding: 0 0 0 40px;
}

dd {
  margin: 0 0 0 40px;
}

nav ul, nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

label {
  cursor: pointer;
}

legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
  white-space: normal;
}

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

button, input {
  line-height: normal;
}

button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

input:invalid, textarea:invalid {
  background-color: #f0dddd;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td {
  vertical-align: top;
}

/* ==========================================================================
   Variables
   ========================================================================== */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html,
button,
input,
select,
textarea {
  color: #222;
}

body {
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */
img {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Custom styles by Bernard Kobos 'berni'
   ========================================================================== */
a:hover {
  color: #cc6600;
}

body {
  font-family: Arial, "MS Trebuchet", sans-serif;
  font-size: 14px;
  color: #202020;
  padding: 18px 30px;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #cccccc), color-stop(100%, #ffffff));
  background: -webkit-linear-gradient(top, #cccccc, #ffffff);
  background: -moz-linear-gradient(top, #cccccc, #ffffff);
  background: -o-linear-gradient(top, #cccccc, #ffffff);
  background: -ms-linear-gradient(top, #cccccc, #ffffff);
  background: linear-gradient(top, #cccccc, #ffffff);
}

html {
  min-height: 100%;
}

.breadcrumbs ul {
  overflow: hidden;
}
.breadcrumbs li {
  float: left;
}
.breadcrumbs li:not(:first-child) {
  margin-left: 8px;
}
.breadcrumbs li:not(:first-child) a:before {
  content: '>';
  display: inline-block;
  color: black;
  margin-right: 10px;
}
.breadcrumbs li a {
  color: #cc6600;
  text-decoration: none;
}

.page-header h1 {
  font-size: 18px;
  font-family: Georgia, "Times New Roman", Times,serif;
}

.author-link {
  color: #cc6600;
  text-decoration: none;
  font-weight: bold;
}

.article {
  margin-left: 192px;
  font-size: 14px;
}
.article section.larger {
  font-size: 16px;
}

.btn {
  border: 0;
  color: #202020;
  text-decoration: none;
}
.btn:visited {
  color: #202020;
}
.btn.enlarge {
  text-transform: uppercase;
  background: none;
  color: #cc6600;
  padding: 0;
}
.btn.comment:before {
  display: inline-block;
  width: 13px;
  height: 13px;
  content: '';
  margin-right: 5px;
  background-image: url("../images/sprites.gif");
  background-position: 0 -479px;
  position: relative;
  top: 1px;
}
.btn.email:before {
  display: inline-block;
  width: 13px;
  height: 13px;
  content: '';
  margin-right: 5px;
  background-image: url("../images/sprites.gif");
  background-position: 0 -255px;
  position: relative;
  top: 1px;
}
.btn.print:before {
  display: inline-block;
  width: 13px;
  height: 13px;
  content: '';
  margin-right: 5px;
  background-image: url("../images/sprites.gif");
  background-position: 0 -301px;
  position: relative;
  top: 1px;
}
.btn.share:before {
  display: inline-block;
  width: 13px;
  height: 13px;
  content: '';
  margin-right: 5px;
  background-image: url("../images/sprites.gif");
  background-position: 0 -346px;
  position: relative;
  top: 1px;
}
.btn.larger:before {
  display: inline-block;
  width: 13px;
  height: 13px;
  content: '';
  margin-right: 5px;
  background-image: url("../images/sprites.gif");
  background-position: 0 -391px;
  position: relative;
  top: 1px;
  top: 3px;
}
.btn.smaller:before {
  display: inline-block;
  width: 13px;
  height: 13px;
  content: '';
  margin-right: 5px;
  background-image: url("../images/sprites.gif");
  background-position: 0 -434px;
  position: relative;
  top: 1px;
}

.article-menu {
  margin: 0;
  padding: 8px 0;
  border-top: 1px dotted #202020;
}
.article-menu ul {
  padding: 0;
  margin: 0;
  overflow: hidden;
  list-style: none;
}
.article-menu li {
  float: left;
}
.article-menu li:not(:first-child) {
  margin-left: 10px;
  padding-left: 10px;
  border-left: 1px solid #202020;
}

.photo-side {
  font-size: 12px;
  float: left;
  width: 170px;
}

.article-timestamps {
  margin: 15px 0 15px 0;
  color: #666666;
}
.article-timestamps p {
  margin: 0;
}

.whois-author {
  margin: 0;
}

/* ==========================================================================
   Media Queries for Responsive Design.
   ========================================================================== */
/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links for images, or javascript/internal links
   */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
    /* h5bp.com/t */
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
