@import "h5bp";
@import "compass";
@import "compass/css3";

@include h5bp-display;
@include h5bp-selection;
@include h5bp-base;
@include h5bp-links;
@include h5bp-typography;
@include h5bp-lists;
@include h5bp-embeds;
@include h5bp-figures;
@include h5bp-forms;
@include h5bp-tables;

/* ==========================================================================
   Variables
   ========================================================================== */

$color_orange: #CC6600;
$color_black: #202020;
$color_grey: #666666;

$text_size_headline: 18px;
$text_size_default: 14px;
$text_size_enlarged: 16px;
$text_size_cutline: 12px;

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Custom styles by Bernard Kobos 'berni'
   ========================================================================== */
a:hover{
    color: $color_orange;
}
body{
    font-family: Arial, "MS Trebuchet", sans-serif; 
    font-size: $text_size_default;
    color: $color_black;
    padding: 18px 30px;
    @include background(linear-gradient(top, #CCCCCC, #FFFFFF));
}
html{
    // so background always takes whole window
    min-height: 100%;
}
.breadcrumbs{
    ul{
        overflow: hidden;
    }
    li{
        float: left;
        &:not(:first-child){
            margin-left: 8px;
            a:before{
                content: '>'; display: inline-block;
                color: black;
                margin-right: 10px;
            }
        }
        a{
            color: $color_orange; text-decoration: none;
        }
    }
}
.page-header h1{
    font-size: $text_size_headline;
    font-family: Georgia, "Times New Roman", Times,serif;
}
.author-link{
    color: $color_orange; text-decoration: none;
    font-weight: bold;
}
.article{
    margin-left: 192px; font-size: $text_size_default;
    section.larger{
        font-size: 16px;
    }
}
@mixin icon($top){
    display: inline-block; width: 13px; height: 13px;
    content: ''; margin-right: 5px;
    background-image: url("../images/sprites.gif");
    background-position: 0 -1 * $top;
    position: relative; top: 1px;
}
.btn{
    border: 0; color: $color_black; text-decoration: none;
    &:visited{
        color: $color_black;
    }
    &.enlarge{
        text-transform: uppercase; background: none;
        color: $color_orange; padding: 0;
    }
    &.comment:before{
        @include icon(479px);
    }
    &.email:before{
        @include icon(255px);
    }
    &.print:before{
        @include icon(301px);
    }
    &.share:before{
        @include icon(346px);
    }
    &.larger:before{
        @include icon(391px); top: 3px;
    }
    &.smaller:before{
        @include icon(434px);
    }
}
.article-menu{
    margin: 0; padding: 8px 0;
    border-top: 1px dotted $color_black;
    ul{
        padding: 0; margin: 0; overflow: hidden; list-style: none;
    }
    li{
        float: left;
        &:not(:first-child){
            margin-left: 10px; padding-left: 10px;
            border-left: 1px solid $color_black;
        }
    }
}
.photo-side{
    font-size: $text_size_cutline; float: left; width: 170px;
}
.article-timestamps{
    margin: 15px 0 15px 0; color: $color_grey;
    p{
        margin: 0;
    }
}
.whois-author{
    margin: 0;
}
.mini{
    display: none;
}

/* ==========================================================================
   Media Queries for Responsive Design.
   ========================================================================== */

@media only screen and (max-width: 400px)  {
    /* Style adjustments for viewports that meet the condition */
    .mini{
        display: block;
    }
    .big{
        display: none;
    }
    body{
        padding: 5px 10px;
    }
    .photo-side{
        float: none; width: auto;
        img{
            float: left; margin-right: 5px;
        }
        .copyright{
            text-align: left;
        }
        .btn{
            display: none;
        }
    }
    .article{
        float: none; margin-left: 0;
    }
    .updated{
        display: none;
    }
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow:none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
